<div style="white-space:nowrap;">
    <MudSelect T="string" Value="@relativeChoice" ValueChanged="@(e => { relativeChoice = e; ValueChanged.InvokeAsync(Value); StateHasChanged(); })" Style="min-width:150px !important;">
        @foreach (var item in RelativeDateCalc.PartA)
        {
            <MudSelectItem T="string" Value="@item">@item</MudSelectItem>
        }
    </MudSelect>
    @if (!string.IsNullOrEmpty(relativeChoice) && relativeChoice != "Today")
    {
        if (relativeChoice != "Today" && relativeChoice != "This")
        {
            <MudTextField T="int?" Label="# of" Value="@xNumber" ValueChanged="@(e => { xNumber = e; ValueChanged.InvokeAsync(Value); StateHasChanged(); })" Style="max-width:150px;" />
        }
        else
        {
            xNumber = null;
        }
        <MudSelect T="string" Value="@datePart" ValueChanged="@(e => { datePart = e; ValueChanged.InvokeAsync(Value); StateHasChanged(); })" Style="min-width:150px !important;">
            @foreach (var item in RelativeDateCalc.PartC)
            {
                <MudSelectItem T="string" Value="@item">@($"{item}(s)")</MudSelectItem>
            }
        </MudSelect>
    }
    else
    {
        xNumber = null;
        datePart = string.Empty;
    }
</div>
